*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

main{
    min-height: 100vh;
}
.main__hero{
    align-items: center;
    background: #303242;
    display: flex;
    justify-content: center;
    min-height: 50vh;
    text-align: center;
}
.main__header{
    color: white;
    font-size: 5em;
    padding: 1em 2em;
}
.text-green{
    color: #B5CDA3;
    font-size: 1em;
    position: relative;
}
.text-green::after{
    content: '';
    background: #C9E4C5;
    height: 26px;
    left: 8px;
    opacity: .3;
    position: absolute;
    top: 70%;
    width: 97%;
}

.cards{
    display: flex;
    justify-content: space-around;
    margin: 4em 2em;
}
.card{
    border-radius: 10px;
    box-shadow: 0px 20px 20px 7px #30324221;
    overflow: hidden;
    text-align: center;
    width: 30%;
}
.card:hover{
    box-shadow: 0px 20px 20px 7px #30324252;
    transform: scale(1.01, 1.01);
    transition: .3s ease;
}
.card__img{
    max-width: 100%;
}
.card__desc{
    padding: 2em 3em;
}
.card__header{
    color: #C1AC95;
    font-size: 1.5em;
    margin-bottom: .5em;
}
.card__text{
    font-size: .9em;
}